/* Header principal */
.creative-header {
  display: flex;
  padding: 0px 0px 0px 0px;   
  background:#063946;
  justify-content: flex-start;
  position: sticky;
  box-shadow: 0 1px 6px #0001;
  min-height: 90px     
}

/* Grupo de títulos */
.header-title-group {
  display: flex;
  flex-direction: column;
  line-height: 1.2;    
}

/* Título */
.creative-title {
  font-size: 1.9rem;   
  font-weight: 700;
  margin: 10px 0px 0px 180px;
  color: #c7c7c9;
  letter-spacing: 0.5px;
}

/* Subtítulo */
.creative-sub {
  font-size: 1rem;  
  color: white;
  margin: 0px 0px 0px 180px;
  font-weight: 500;
}